# Node.js dependencies
node_modules/
package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# GitHub Actions script outputs (se criar algum cache local)
.github/scripts/*.cache
